<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Welcome {{name}}!
<br>
<br>
<a href="/">Home</a>

<table align="center" border="1px" width="800px">
    <th>Item Name</th>
    <th>Category</th>
    <th>Void Relic</th>
    <th>Quantity</th>
    {{#userItems}}
        <tr>
            <td>{{name}}</td>
            <td>{{category}}</td>
            <td>{{voidRelic}}</td>
            <td>{{quantity}}</td>
            <td>
                <form method="post" action="/edit-item">
                    <input type="number" min="1" max="1000" name="quantity">
                    <input type="hidden" value="{{id}}" name="id">
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>
    {{/userItems}}
</table>
</body>
</html>