<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main.css">
    <style>
    body {
        background-color: white;

    }
    img {
        height:400px;
        width: 400px;
        margin-top: 5%;
        border: 2px solid white;
        border-radius: 5px;
    }
     div {
        width: 420px;
        margin: auto;
        margin-top: 5%;
        border: 2px solid green;
        border-radius: 5px;
        box-shadow: 10px 10px 10px black;
    }
    button {
        height: 30px;
        width: 60px;
        background-color: blue;
        font-weight: bold;
        color: white
    }

</style>
    <script>
        function rowStyle(){
            var mySelection = document.getElementById("itemList");
            var myRows = document.getElementsByTagName('tr');
            for(i = 0; i < myRows.length; i++){
              if(i % 2 === 0){
                tr.style.backgroundColor="white";
                tr.style.color="black";
              }
              else{
                tr.style.backgroundColor="#ccccff";
                tr.style.color="black";
              }
            }
        }
    </script>
</head>
<body>
{{^name}}
<div align="center">
<table align="center" id="login">
<form method="post" action="/login">
    <tr>

        <td><input type="text" placeholder="Enter username" name="name"></td>
        <td><input type="password" placeholder="Enter your password" name="pass"></td>
        <td><button type="submit">Submit</button></td>

    </tr>
</form>
    <tr>
        <td colspan="3">
            <img src="https://66.media.tumblr.com/5a2077a3d31b6e4a77f31ba6d81d8237/tumblr_o8un4fvHBV1vv76bbo1_1280.jpg">
        </td>
    </tr>
</table>
</div>
{{/name}}
{{#name}}
Welcome {{name}}!
<form method="post" action="/logout">
    <button type="submit">Logout</button>
</form>
<br>
<br>
<br>
<table align="left" width="600px" border="1px" id="itemList" onload="rowStyle">
    <th colspan="6">Game Items</th>
        <tr>
            <td>Item Name</td>
            <td>Category</td>
            <td>Void Relic</td>
            <td>Quantity</td>
            <td></td>
        </tr>
    {{#items}}
        <tr>
            <td width="250px">{{name}}</td>
            <td>{{category}}</td>
            <td width="250px">{{voidRelic}}</td>
            <form method="post" action="/add-item">
            <td>
                <input type="number" name="quantity" min="1" max="1000">
            </td>
            <td>
                <input type="hidden" value="{{id}}" name="id">
                <button type="submit">Add</button>
            </form>
            </td>
        </tr>
    {{/items}}
</table>
<table  width="800px" border="1px" id="userList">
    <th colspan="6">{{name}}'s Items</th>
        <tr>
            <td>Item Name</td>
            <td>Category</td>
            <td>Void Relic</td>
            <td>Quantity</td>
            <td colspan="2">Modify</td>
        </tr>
    {{#userItems}}
    <tr>
        <td>{{name}}</td>
        <td>{{category}}</td>
        <td>{{voidRelic}}</td>
        <td>{{quantity}}</td>
        <td>
            <form method="get" action="/edit-item">
                <input type="hidden" value="{{id}}" name="editID">
                <button type="submit">Edit</button>
            </form>
        </td>
        <td>
        <form method="post" action="/delete-item">
            <input type="hidden" value="{{id}}" name="id">
            <button type="submit">Delete</button>
        </form>
        </td>
    </tr>
    {{/userItems}}
</table>
{{/name}}
</body>
</html>

<!-- silicon harbor mag -->